@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, "Pretendard", "Noto Sans KR", sans-serif;
}

@layer base {
  body {
    @apply bg-[#111111] text-gray-300 antialiased selection:bg-amber-500 selection:text-black;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .mask-image-gradient {
    mask-image: linear-gradient(to top right, black, transparent);
  }
}
